// Place all the styles related to the races controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

span {
  &.vertical {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

  &.text-combine {
    -webkit-text-combine: horizontal;
    -ms-text-combine-horizontal: all;
    text-combine-upright: all;
    margin-top: 10px;
  }
}

table {
  table-layout: fixed;
  width: 100%;
}

h1 {
  font-size: 64px;
}

$header_table_height: 280px;
.fixed-header {
  height: $header_table_height;
}

.sticky {
  position: sticky;
  height: $header_table_height;
  top: 0;
}

.blank-cell {
  background-color: #f8f9fa;
  width: 15%;
}

th {
  &.horse {
    text-align: center;
    vertical-align: top !important;
  }
}

div {
  &.main {
    margin: 2%;
    font-size: 40px;
  }
}

.small-text {
  font-size: 30px;
}

.text-table {
  font-size: 24px;
}

.navbar-collapse {
  flex-basis: 0;
  flex-grow: 1;
  align-items: center;
}