// Place all the styles related to the races controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

span {
  &.vertical {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

  &.text-combine {
    -webkit-text-combine: horizontal;
    -ms-text-combine-horizontal: all;
    text-combine-upright: all;
  }
}

table {
  table-layout: fixed;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
}

.blank-cell {
  background-color: #f8f9fa;
  width: 15%;
}

th {
  &.horse {
    text-align: center;
    vertical-align: top !important;
  }
}

div {
  &.main {
    margin: 2%;
  }
}

.small-text {
  font-size: 20px;
}

body {
  background-image: url("/images/horserace_whiteout.png");
}

.bg-card {
  background-color: rgb(223, 242, 245);
}