<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Twitter競馬新聞', root_path, class: 'navbar-brand' %>

  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to '予想家', users_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>

  <span class="navbar-text">
    <%= link_to 'by @Evitch', 'https://twitter.com/unkEVI', target: '_blank' %>
  </span>
</nav>